# Entornos virtuales
venv/
.venv/
env/

# Python
__pycache__/
*.pyc

# Variables de entorno (credenciales)
.env

# Base de datos (si usas local)
*.sqlite3

# Archivos de sistema
.DS_Store
Thumbs.db
# Credenciales Firebase (nunca subir al repo)
kardex/firebase_credentials.json
