# =========================================================================
# SISTEMA DE GESTION DOCUMENTAL CLINICO - UAGRM Grupo #13 INF412-SA
# requirements.txt
# Python 3.11 / 3.12 / 3.13
# =========================================================================

# -- FRAMEWORK WEB ---------------------------------------------------------
Django==5.1.4
djangorestframework==3.15.2

# -- AUTENTICACION JWT -----------------------------------------------------
djangorestframework-simplejwt==5.3.1

# -- DOCUMENTACION API -----------------------------------------------------
drf-spectacular==0.27.2

# -- BASE DE DATOS POSTGRESQL ----------------------------------------------
psycopg2-binary==2.9.9

# -- CORS ------------------------------------------------------------------
django-cors-headers==4.4.0

# -- VARIABLES DE ENTORNO --------------------------------------------------
python-decouple==3.8

# -- CELERY + REDIS --------------------------------------------------------
celery==5.4.0
redis==5.2.0
django-celery-beat==2.7.0
django-celery-results==2.5.1

# -- BLOCKCHAIN - ETHEREUM -------------------------------------------------
web3==7.4.0

# -- CRIPTOGRAFIA ----------------------------------------------------------
cryptography==43.0.3
pycryptodome==3.21.0

# -- MACHINE LEARNING ------------------------------------------------------
scikit-learn>=1.5.2
numpy>=1.26.4
pandas>=2.2.3
joblib==1.4.2

# -- NLP -------------------------------------------------------------------
unidecode==1.3.8

# -- ALMACENAMIENTO --------------------------------------------------------
boto3==1.35.80
django-storages==1.14.4

# -- UTILIDADES ------------------------------------------------------------
Pillow==11.0.0
python-magic==0.4.27
requests==2.32.3

# -- REPORTES --------------------------------------------------------------
openpyxl==3.1.2
reportlab==4.2.0

# -- EMAIL API (reemplaza SMTP bloqueado por Railway) ----------------------
django-anymail==12.0

# -- SERVIDOR --------------------------------------------------------------
gunicorn==21.2.0
